/* regole base */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

ul,ol,menu{
    list-style: none;
}
a{
    color: currentColor;
    text-decoration: none;
}


.container_content{
    background-color: cornflowerblue;
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    padding-top: 20px;
    color: white;
}

.row{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
}

.justify_content_space{
    justify-content: space-between;
}


.button_invia{
    margin: 20px 0;
    padding-bottom: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.container_small,
.container_ticket{
    margin: 0 auto;
    max-width: 840px;
    text-align: center;
}

#text-left{
    text-align: left;
}